/*-------------------------------------------
    Global
-------------------------------------------- */
html,body{
    font-family: 'Open Sans', sans-serif !important;
    background: #231F20;
    color: #fff;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/*-------------------------------------------
    Header
-------------------------------------------- */
header{
    height: 60px;
    padding: 0px 50px;
    background: #231F20;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .for-mobile{
    display: none;
}

header .logo{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo a{
    width: 140px;
    display: block;
}

header .search{
    flex-grow: 1;
    height: 60px;
    margin: 0px 50px 0px 0px;
    box-sizing: border-box;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

header .search input[type="text"]{
    height: 60px;
    background: transparent url('../assets/ic-search.svg') no-repeat 20px center;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    background-size: 24px;
    padding: .375rem .75rem .375rem 3.75rem;
}

header .personal-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .personal-links .my-watchlist,
header .personal-links .notifications{
    margin: 0px 40px 0px 0px;
}

header .personal-links .my-watchlist a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

header .personal-links .notifications a{
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
}

header .personal-links .notifications a::after{
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background:#AF2850;
    border: 2px solid #231F20;
    top: 6px;
    right: 0;
    z-index: 99;
}

header .personal-links .user-info,
header .personal-links .user-info a{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    text-decoration: none;
    color: #fff;
}

header .personal-links .user-info ul li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .personal-links .user-info a .user-info-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#333;
    padding: 2px;
    margin-right: 10px;
}

header .personal-links .user-info a .user-info-img img{
    border-radius: 50%;
}

header .personal-links .user-info a .user-info-name{
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    font-size: 12px;
}

header .personal-links .user-info a .user-info-name b{
    font-weight: 700;
    display: block;
}

header .personal-links .user-info .dropdown-menu{
    top: 8px !important;
}

header .personal-links .user-info .dropdown-menu a{
    font-family: 'Open Sans', sans-serif;
    color: #231F20 !important;
    font-size: 12px;
}

header .personal-links .user-info .dropdown-toggle::after{
    margin:20px 0px 0px 20px;
}

/*-------------------------------------------
    Movies Filter
-------------------------------------------- */
.movies-filter{
    height: 40px;
    background: #AF2850;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    padding: 0px 50px;
}

.movies-filter.position-fixed{
    z-index: 99;
    top: 0;
}

.movies-filter ul li a{
    color: #fff;
    font-size: 12px;
    padding: 0.69rem 1rem;
}

.movies-filter ul li a.active{
    position: relative;
    font-weight: 700;
}

.movies-filter ul li a.active::after{
    width: 75%;
    height: 3px;
    position: absolute;
    content: '';
    background: #fff;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/*-------------------------------------------
    Mobile Menu
-------------------------------------------- */
.bg-dark{
    background: #231F20 !important;
}

.navbar-dark .navbar-toggler {
    color: #333;
    border-color: transparent;
    outline: none;
}

.navbar{
    padding: 9px 0px 0px !important;
}

.navbar button{
    padding: 0px !important;
}

.mobile-menu{
    background: #231F20;
}

.mobile-menu ul li a{
    display: block;
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

/*-------------------------------------------
    Banner
-------------------------------------------- */
.banner-slider-wrap{
    width: 100%;
    position: relative;
}

.banner-slider-wrap .carousel-caption{
    bottom: 100px;
}

.banner-slider-wrap .carousel-indicators{
    bottom: 40px;
}

.banner-slider-wrap .carousel-caption h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.banner-slider-wrap .carousel-caption p{
    width: 50%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.banner-slider-wrap .carousel-caption a{
    display: inline-block;
    height: 25px;
    background: url('../assets/ic-small-play-btn.png') no-repeat left center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #E38000;
    padding-left: 35px;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
}

.banner-slider-wrap .btm-banner-overlay{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(35, 31, 32, 0) 0%,rgba(29, 26, 27, 1.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -o-linear-gradient(top, rgba(35, 31, 32, 0) 0%, rgba(29, 26, 27, 1.0) 100%); /* Opera 11.10+ */
    background: -moz-linear-gradient(top, rgba(35, 31, 32, 0) 0%, rgba(29, 26, 27, 1.0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(35, 31, 32, 0) 0%,rgba(29, 26, 27, 1.0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -ms-linear-gradient(top, rgba(35, 31, 32, 0) 0%,rgba(29, 26, 27, 1.0) 100%); /* IE10+ */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1a1b', endColorstr='#1d1a1b',GradientType=0 ); /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1a1b', endColorstr='#1d1a1b',GradientType=0 ); /* IE 5.5 - 9 */ 
}

/*-------------------------------------------
    Main Content
-------------------------------------------- */
.movies-grid-wrap{
    overflow: hidden;
    margin-left: 50px;
    border-bottom: solid 1px #333;
    padding-bottom: 30px;
}

.movies-grid-wrap h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin: 40px 0px 30px;
}

.movies-grid-wrap .single-movie a{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

.movies-grid-wrap .single-movie a .single-movie-img{
    background: #333;
    position: relative;
    border-radius: 3px;
}

.movies-grid-wrap .single-movie a .single-movie-img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

.movies-grid-wrap .single-movie a .preview-play{
    width: 60px;
    height: 60px;
    background: url('../assets/ic-play.svg') no-repeat center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: auto;
    margin: 0 auto;
    z-index: 99;
    opacity: 0.7;
}

.movies-grid-wrap .single-movie a .movie-rating{
    width: 20px;
    height: 20px;
    background: #E08224;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #231F20;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 99;
    text-align: center;
}

.movies-grid-wrap .single-movie a .movie-rating .movie-rating-inner{
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
}

.movies-grid-wrap .single-movie a .movie-rating::before{
    content: '';
    width: 10px;
    height: 20px;
    background: #E08224;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    position: absolute;
    left: -10px;
    top: 0;
}

.movies-grid-wrap .single-movie a .movie-rating::after{
    content: '';
    width: 10px;
    height: 20px;
    background: #E08224;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    position: absolute;
    right: -10px;
    top: 0;
}

.movies-grid-wrap .single-movie a .single-movie-info{
    overflow: hidden;
}

.movies-grid-wrap .single-movie a .single-movie-info h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-top: 15px;
}

.movies-grid-wrap .single-movie a .single-movie-info span{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #AF2850;
    margin-top: 5px;
}

.movies-grid-wrap .owl-carousel .owl-nav{
    top: -68px;
    position: absolute;
    right: 50px;
}

.movies-grid-wrap .owl-carousel .owl-dots{
    text-align: center;
    margin: 40px 0px 30px;
}

.movies-grid-wrap .owl-carousel .owl-nav button{
    padding: 0px 7px !important;
}

.movies-grid-wrap .owl-carousel .owl-nav button.owl-prev span,
.movies-grid-wrap .owl-carousel .owl-nav button.owl-next span{
    font-size: 30px !important;
    color: #AF2850;
}

.movies-grid-wrap .owl-carousel .owl-nav button.owl-prev.disabled span,
.movies-grid-wrap .owl-carousel .owl-nav button.owl-next.disabled span{
    color: #666;
}

.movies-grid-wrap .owl-carousel .owl-dots button{
    background: #666;
    color: inherit;
    border: none;
    padding: 1px 10px !important;
    font: inherit;
    margin: 0px 5px;
}

.movies-grid-wrap .owl-carousel .owl-dots button.active{
    background: #AF2850;
}

.discover-more{
    width: 200px;
    height: 50px;
    margin: 50px auto;
}

.discover-more .discover-more-btn{
    width: 200px;
    background: #AF2850;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    border: 0;
    padding: 0px;
}

.discover-more .discover-more-btn:hover,
.discover-more .discover-more-btn:focus,
.discover-more .discover-more-btn:active{
    background: #DE416F; 
    outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show >.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #DE416F;
    border-color: #DE416F;
    outline: none;
}

/*-------------------------------------------
    Footer
-------------------------------------------- */
footer{
    height: 298px;
    background: #1D1B1C;
    text-align: center;
    padding: 40px 0px;
}

footer ul,
footer ul li{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li a{
    display: inline-block;
    margin: 0px 10px;
}

footer ul.footer-nav{
    margin: 20px 0px 50px;
}

footer ul.footer-nav li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #666;
    text-decoration: none;
}

footer ul.footer-nav li a:hover{
    color: #AF2850; 
}

footer ul.footer-social{
    margin: 0px 0px 50px; 
}

footer ul.footer-social li a{
    width: 40px;
    height: 40px;
}

footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #666;
}

/*-----------------------------------------------
    Custom Media Queries for Smaller Devices
------------------------------------------------- */
@media only screen and (max-width: 767px) { 
    
    header .for-mobile{
        display: block;
    }

    header{
        height: 50px;
        padding: 0px 12px;   
        justify-content: space-between;
    }

    header .logo{
        padding-right: 0px;
    }

    header .logo a {
        width: 80px;
    }

    header .search {
        height: 40px;
        margin: 0px 12px 0px 0px;
    }

    .mobile-menu .nav{
        display: block;
    }

    .mobile-menu .search{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mobile-menu .search input[type="text"]{
        background: #231F20;
        border: solid 1px #333;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .mobile-menu .search button{
        height: 33px;
        line-height: 21px;
        border: 0;
        font-size: 12px;
        background: #af284f;
    }

    header .personal-links .user-info a .user-info-name,
    header .personal-links .my-watchlist{
        display: none;
    }

    header .personal-links .user-info .dropdown-toggle::after{
        margin: 20px 0px 0px 10px;
    }

    header .personal-links .user-info a .user-info-img{
        margin-right: 0px;
    }

    .banner-slider-wrap .btm-banner-overlay{
        height: 30px;
    }

    .banner-slider-wrap .carousel-indicators,
    header .personal-links .my-watchlist, header .personal-links .notifications{
        display: none;
    }

    .movies-filter,
    header .search {
        display: none;
    }

    .movies-grid-wrap{
        margin-left: 12px;
    }

    .movies-grid-wrap h2{
        font-size: 16px;
        margin: 30px 0px 20px;
    }

    .movies-grid-wrap .owl-carousel .owl-dots {
        margin: 20px 0px 0px;
    }

    .discover-more {
        margin: 20px auto;
    }
}